.table {
  width: 100%;
  border-radius: 5px;
  border: 2px solid white;
  background-color: #bbcbe5;
}

.tableRow {
  height: 3.1em;
  border-right: 56px solid transparent;
  border-left: 56px solid transparent;
}

.tableRow:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

.tableHeader {
  height: 3.1em;
  background-color: var(--mediumgrey);
  font-weight: 700;
}

@media (max-width: 900px) {
  .tableHeader,.table {
    font-size: 14px;
  }
}

@media (min-width: 900px) {
  .tableHeader,.table {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .tableHeader,.table {
    font-size: 20px;
  }
}
