.loginContainer{
  position: relative;
  margin: 20px;
  padding: 20px;
  height: calc(100vh - 40px);
  border-radius: 4px;
  overflow-y: scroll;
  background-color: white;
  overflow: overlay;
  font-size: 10px;
}

@media (max-width: 900px) {
  .loginContainer {
    font-size: 8px;
  }
}

.alink {
  font-size: 2em;
  color: #2b2d42;
  text-decoration: none;
  align-content: center;
  text-align: center;
}

.alink:visited {
  color: #2b2d42;
}

.centered_left {
  width: 50em;
  margin-left: 10%;
  padding-top: 8vh;
}

.centered_right {
  float: right;
  width: 50em;
  margin-right: 10%;
  padding-top: 8vh;
}

.centered {
  width: 50em;
  margin: auto;
  padding-top: 8vh;
}

.formGroup {
  width: 100%;
  float: left;
  justify-content: center;
  text-align: left;
}

.textInput {
  background-color: #2b2d42;
  position: relative;
  width: 100%;
  border-radius: 0.7em;
  border-style: none;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.3em 0 0.3em 1em;
  color: #edf2f4;
}

.textInput:focus::placeholder {
  color: #2b2d42;
}

.textInput:focus {
  outline: none;
}

.buttonInput {
  display: inline;
  margin-right: 0;
  justify-content: right;
  font-size: 2em;
  border-style: none;
  background-color: #ffffff;
  cursor: pointer;
  float: right;
}

.buttonInput:focus {
  outline: none;
}
